In [1]:
import pandas as pd
import pickle
import datetime

countriesOfInterest = ["HK", "JP", 'ZA', 'TN', 'TR', 'GB', 'MX', 'US', 'CO',
                       'EC', 'AU', 'NZ']

In [2]:
stats = pd.DataFrame()
comb_data= pd.DataFrame()
for country in countriesOfInterest:
    data = pickle.load(open( "Raw Track Data\\" + country + "_train.p", "rb" ))
    data = data.append(
        pickle.load(open( "Raw Track Data\\" + country + "_val.p", "rb" )))
    data = data.append(
        pickle.load(open( "Raw Track Data\\" + country + "_test.p", "rb" )))
    stats.loc[country,"n_tracks"] = data.track_id.nunique()
    stats.loc[country,"n_playlists"] = data.Playlist.nunique()
    stats.loc[country,"mean_n_segments"] = data.groupby("track_id").size().mean()
    duration = data.groupby("track_id").duration.sum()
    stats.loc[country,"mean_duration"] = str(datetime.timedelta(seconds=duration.mean()))
    comb_data = comb_data.append(data)

stats.loc["aggregate","n_tracks"] = comb_data.track_id.nunique()
stats.loc["aggregate","n_playlists"] = comb_data.Playlist.nunique()
stats.loc["aggregate","mean_n_segments"] = comb_data.groupby("track_id").size().mean()
duration = comb_data.groupby("track_id").duration.sum()
stats.loc["aggregate","mean_duration"] = str(datetime.timedelta(seconds=duration.mean()))

In [3]:
stats
# Number of tracks
# Number of playlists
# Mean number of segments over tracks
# Mean duration over tracks
# Within each country and across all

           n_tracks  n_playlists  mean_n_segments   mean_duration
HK           1103.0         26.0       599.970082  0:03:38.428565
JP           1860.0         41.0       831.725269  0:03:57.793989
ZA           1919.0         58.0      1013.252736  0:04:11.785627
TN             64.0         12.0      1009.390625  0:03:48.089843
TR           1834.0         44.0       861.179935  0:03:46.618427
GB            984.0         46.0       838.870935  0:03:35.533868
MX            814.0         28.0       753.305897  0:03:32.794174
US           1351.0         37.0       799.274611  0:03:43.415509
CO           1256.0         39.0       920.994427  0:03:53.523069
EC            370.0         26.0       897.683784  0:03:51.423969
AU            994.0         31.0       751.960765  0:03:32.821756
NZ            633.0         26.0       812.481833  0:03:43.057157
aggregate   13182.0        403.0       839.503490  0:03:48.753002

In [4]:
comb_data.columns

Index(['start', 'duration', 'confidence', 'loudness_start',
       'loudness_max_time', 'loudness_max', 'p1', 'p2', 'p3', 'p4', 'p5', 'p6',
       'p7', 'p8', 'p9', 'p10', 'p11', 'p12', 't1', 't2', 't3', 't4', 't5',
       't6', 't7', 't8', 't9', 't10', 't11', 't12', 'track_id', 'Country',
       'Year', 'Playlist'],
      dtype='object')